// Colores Primarios
$primary: #001f3f; // Azul profundo para elementos principales
$primary-light: rgba(0, 31, 63, 0.8); // Versión translúcida del azul principal

// Colores Secundarios
$secondary: #05308d; // Azul oscuro para botones y acentos
$info: #0077b6; // Azul oscuro para botones y acentos
$selector: #00a8e8; // Azul claro para resaltados e información

// Colores Funcionales
$success: #8ac926; // Verde brillante para estados de éxito
$warning: #ffb703; // Amarillo para advertencias y alertas
$danger: #e63946; // Rojo vibrante para errores o estados críticos
$gray: #6c757d; // Gris neutro para información secundaria

// Colores de Fondo y Bordes
$background: #f0f0f0; // Gris claro para fondos
$foreground: #ffffff; // Blanco para textos o elementos destacados
$border: #d6d6d6; // Gris suave para bordes y divisores

// Colores de Notificación
$highlight: #ff6f00; // Naranja para indicadores importantes o notificaciones
$emergency: #535050; // Gris oscuro para estados críticos alternativos

// Otros Colores Utilitarios
$text: #343a40; // Negro suave para textos principales
$muted: #adb5bd; // Gris apagado para textos secundarios


// Fonts
$headings-font-family:  "Montserrat", sans-serif;
$headings-font-weight: 800;
$font-family-base: "Open Sans", sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Theme Colors Map
$theme-colors: (
    "primary": $primary,                 // Azul profundo para elementos principales
    "primary-light": $primary-light,     // Versión translúcida del azul principal
    "secondary": $secondary,             // Azul oscuro para botones y acentos
    "selector": $selector,                   // Azul claro para resaltados e información
    "success": $success,                 // Verde brillante para estados de éxito
    "warning": $warning,                 // Amarillo para advertencias
    "danger": $danger,                   // Rojo vibrante para errores o estados críticos
    "info": $info,                       // Azul neutro para información secundaria
    "highlight": $highlight,             // Naranja para indicadores importantes
    "emergency": $emergency,             // Gris oscuro para estados críticos alternativos
    "background": $background,           // Gris claro para fondos
    "foreground": $foreground,           // Blanco para textos o elementos destacados
    "border": $border,                   // Gris suave para bordes y divisores
    "text": $text,                       // Negro suave para textos principales
    "muted": $muted,                     // Gris apagado para textos secundarios
    "gray": $gray,                       // Gris neutro para información secundarias
);

// Custom Colors
$custom-color: (
    "icon-background": rgb(255, 0, 0)
);

// Merge Custom Colors into Theme Colors
$theme-colors: map-merge($theme-colors, $custom-color);

// Utilities for Border Radius
$utilities: (
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
            null: 1rem,
            circle: 50%
        )
    )
);


