// Aplicar las fuentes globalmente
body {
    font-family: $font-family-base !important;
    font-weight: 400;
    line-height: 1.6;
    color: #333; // Ajusta según la identidad de tu marca
}

// Aplicar la fuente de títulos a todos los encabezados
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family !important;
    font-weight: $headings-font-weight !important; // Asegúrate de que la fuente esté bien visible
}

// Forzar la fuente en párrafos y enlaces si aún no toma la correcta
p,
a {
    font-family: $font-family-base !important;
    font-weight: 400;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; // Tamaño del círculo
    height: 25px; // Tamaño del círculo
    border-radius: 50%; // Círculo perfecto
    font-size: 1.2rem; // Tamaño del ícono
    color: #fff; // Color del ícono
    text-decoration: none; // Elimina el subrayado en enlaces
    transition: all 0.3s ease; // Transición suave

    // Estilos para el botón info
    &.btn-secondary {
        background-color: var(--bs-secondary);

        &:hover {
            background-color: #05308d; // Oscurecer color en hover
        }
    }

    // Estilos para el botón warning
    &.btn-warning {
        background-color: var(--bs-warning);

        &:hover {
            background-color: #ffa200; // Oscurecer color en hover
        }
    }

    // Estilos para el botón danger
    &.btn-danger {
        background-color: var(--bs-danger);

        &:hover {
            background-color: #c92a2a; // Oscurecer color en hover
        }
    }

    // Efecto de hover común
    &:hover {
        transform: scale(1.1); // Efecto de zoom al pasar el ratón
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

