/* Sidebar Wrapper */
#sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--bs-primary);
    padding: 2rem 1rem;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;

    /* Mostrar sidebar cuando tenga la clase abierta */
    &.sidebar-open {
        transform: translateX(0);
    }
}

/* Contenido del Sidebar */
.sidebar-content {
    padding: 0 1rem; /* Añadir padding horizontal interno */

    .sidebar__list {
        padding: 0; /* Eliminar cualquier padding sobrante */
        margin: 0; /* Eliminar margen */

        .sidebar__item {
            list-style: none; /* Quitar las viñetas */

            .nav-link {
                display: flex;
                align-items: center;
                color: var(--bs-white);
                margin: 1rem 0; /* Reducir el margen superior/inferior para evitar desbordes */
                padding: 0.5rem 1rem; /* Espaciado interno del enlace */
                font-weight: 600;
                font-size: 1rem;
                text-decoration: none;
                border-radius: 0.5rem; /* Bordes ligeramente redondeados */
                transition: all 0.3s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1); /* Fondo translúcido al pasar el ratón */
                    color: var(--bs-secondary); /* Color secundario al hover */
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
                    transform: translateX(5px); /* Movimiento ligero hacia la derecha */
                }

                i {
                    margin-right: 1rem; /* Espacio entre el ícono y el texto */
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: rotate(20deg);
                    }
                }
            }
        }
    }
}