#user-management-section {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #dee2e6; /* Borde sutil */
    border-radius: 0.5rem;
    padding: 1rem;

    h5 {
        font-weight: 600;
        color: var(--bs-primary); /* Azul principal */
        margin-bottom: 1rem;
    }

    .btn-primary {
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    table {
        thead {
            th {
                background-color: var(--bs-primary);
                color: #fff;
                text-align: center;
                font-size: 0.9rem;
            }
        }

        tbody {
            td {
                text-align: center;
                vertical-align: middle;

                .btn {
                    font-size: 0.8rem;
                    padding: 0.3rem 0.6rem;
                }

                .btn-info {
                    background-color: var(--bs-info);
                    border: none;

                    &:hover {
                        background-color: darken(#6c757d, 10%);
                    }
                }

                .col-4 {
                    padding: 0.15rem; // Espaciado alrededor de los botones
                    text-align: center;
                }
            }
        }
    }
}
